DROPBOX_APP_KEY=key
DROPBOX_APP_SECRET=secret
DROPBOX_ACCESS_TOKEN=access_token
DROPBOX_ACCESS_TOKEN_SECRET=access_token_secret
DROPBOX_USER_ID=1235678
SNMP_API_URL="http://localhost:3001"
SNMP_API_TOKEN="token"
CORS_ACCEPT_ORIGINS=*
